<!DOCTYPE html>
<html lang="en">

<head>
    <title>WA Rain Radar</title>

    <link rel="stylesheet" type="text/css" href="../static/css/metricsgraphics.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/leaflet.css">

    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/d3.min.js"></script>
    <script src="../static/js/metricsgraphics.min.js"></script>
    <script src="../static/js/leaflet-src.js"></script>
    <script src="../static/js/main.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
</head>

<body>
    <div id="frame">
        <h1>WA Rain Radar</h1>
        <div id="map" class="item"></div>
        <input type="date" id="date" class="item" step="1"><br><br>
        <div id="rain_plot" class="item"></div>
        <div id="status" class="item"></div>
    </div>
</body>